.container {
  padding: 20px;
  background-color: #f9f9f9;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

.countryInfo {
  text-align: center;
  margin-top: 10px;
}

.flagImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.mapLink {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  border: gray 1px solid;
  border-radius: 30px;
  padding: 10px 20px;
  justify-content: center;
}

.mapLink:hover {
  background-color: var(--button-hover);
  border: 1px solid var(--button-hover);
  transform: translateY(-1px);
}
