.heartBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: #2c3e50;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.2);
    color: #2c3e50;
  }
}
